<div class="jumbotron dashboard-jumbo text-center">
  <h1>Welcome to your Dashboard</h1>
  <div *ngIf="user">
    <h2 class="page-header">{{user.name}}</h2>
    <ul class="list-group">
      <li class="list-group-item">Id: <br> {{user._id}}</li>
      <li class="list-group-item">Email: <br> {{user.email}}</li>
      <li class="list-group-item">Username: <br> {{user.username}}</li>
      <li class="list-group-item">Password: <br> {{user.password}}</li>
    </ul>
  </div>
</div>
<div class="view-tips" *ngIf="user">
  <div class="flex-container justify-center">
    <button class="btn btn-info" (click)="viewTips">Click here to view your tips</button>
    <div class="container" *ngIf="canViewTips === true">
      <div class="row">
        <div class="col-sm-4">DATE</div>
        <div class="col-sm-8">TIP</div>
      </div>
      <div class="row"></div>
    </div>
  </div>
</div>